#calc{
  padding: 10px;
  width:27rem;
  height:35rem;
  border: 1px solid withe;
  border-radius: 15px;
  background: #065275;
  display: grid;
  grid-row: repeat(6, 1fr);
  grid-column: repeat(4, 1fr);
  grid-gap: 0.7rem;
  grid-template:
                'view view view view'
                'special special special special'
                'keyBoard keyBoard keyBoard plus'
                'keyBoard keyBoard keyBoard plus'
                'keyBoard keyBoard keyBoard enter'
                'ho ho point enter'
                ;
}